<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>StatusBox</string>
    <key>CFBundleIdentifier</key>
    <string>com.elixirevo.StatusBox</string>
    <key>CFBundleIconFile</key>
    <string>StatusBox</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Status Box</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundleVersion</key>
    <string>110</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Status Box uses Screen Recording access to show hidden menu bar items in Box UI.</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/elixirevo/statusbox/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>WqbePVnRnb1iTrG97L2uwcc4FClbTWSRiEvmWpLtR2k=</string>
</dict>
</plist>
